@page "/"
@namespace CorpLinkBaseMinimal.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CorpLink Base</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/site.css" />
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
    <component type="typeof(App)" render-mode="ServerPrerendered" />
    <script src="_framework/blazor.server.js"></script>
    <script>
        function forceRedirect(url) {
            window.location.href = url;
        }
        function submitFormById(id) {
            var el = document.getElementById(id);
            if (el) el.submit();
        }
    </script>
</body>
</html>